<%=link_to 'Discover more movies', "/discover"%>

<% if params[:top] == "top_rated" %>
  <h1>Top Rated Movies</h1>
<% else  %>
  <h1>Keyword Movies</h1>
<% end %>

<% @movies.each do |m| %>
<div id="<%=m[:title]%>">
  <p>Title: <%=link_to "#{m[:title]}", movie_path(m[:id]) %></p>
  <p>Vote Average: <%= m[:vote_average] %></p>
</div>
<% end %>
